body {
    overflow-x: hidden;
    font-family: 'Manrope', sans-serif;
}


.banner {
    background: rgba(229, 84, 115, 0.10);
    width: 1920px;
    height: 850px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 178px;



}



#first-header {
    color: #272727;

    font-size: 80px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 0px;

}

#first-para {
    color: rgba(39, 39, 39, 0.60);

    font-size: 18px;
    font-style: normal;
    font-weight: 400;

}


.btn-secondary {
    border-radius: 8px;
    background: darkblue;
    border: none;
    padding: 20px 43px 20px 43px;
    color: #FFF;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn-secondary:hover {
    background: yellow;
    color: black;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 20px 43px 20px 43px;
    color: #FFF;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-1 {
    padding-top: 197px;
    padding-left: 240px;
    padding-bottom: 147px;

}

.image {
    padding-right: 240px;
    padding-top: 50px;
}

.feature {
    color: #272727;
    text-align: center;

    font-size: 40px;
    font-style: normal;
    font-weight: 800;

}

.feature-para {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;

}

.flower-vases {
    display: flex;
    justify-content: center;
    margin-left: 240px;
    margin-right: 240px;
}

.first {
    padding: 110px 78px 0px 76px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-bottom: 0px;
}

.second {
    margin-left: 24px;
    padding: 117px 47px 51px 47px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.third {
    margin-left: 24px;
    padding: 67px 75px 0px 75px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);

}

.featured {
    margin-bottom: 128px;
    margin-left: 240px;
    margin-right: 240px;
}

.deal {
    width: 1922px;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-bottom: 128px;
}

#first-header2 {

    color: #272727;

    font-size: 40px;
    font-style: normal;
    font-weight: 800;

}

#first-para2 {
    color: rgba(39, 39, 39, 0.60);


    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

#first-header3 {
    color: #272727;

    font-size: 40px;
    font-style: normal;
    font-weight: 800;

}

#first-para3 {
    color: rgba(39, 39, 39, 0.60);


    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}


.impo {
    padding: 100px 429px 100px 395px;
    display: flex;
    justify-content: center;
}

.header-rules {
    color: #272727;
    text-align: center;

    font-size: 40px;
    font-style: normal;
    font-weight: 800;

}

.para-rules {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}


.instagram {

    margin-bottom: 128px;
}

.img-container {
    margin-left: 240px;
    margin-right: 240px;
    display: flex;
    justify-content: center;

}

.pic1 {
    margin-right: 24px;
}

.subscribe {
    width: 1440px;
    height: 449px;
    margin-bottom: 128px;
    margin-left: 186px;

    background-image: url(Rectangle\ 9.png);

}

.sub-container {
    padding: 122px 287px 121px 287px;
}

input[type=email] {
    width: 700px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    border: 2px solid #E55473;
    padding-left: 5px;
}

.form {
    display: flex;
    gap: 16px;
}

footer {
    width: 1922px;
    height: 449px;
    background: #111010;

}

.footerlabel {
    text-align: center;
    color: #E55473;

    font-size: 48px;
    font-style: normal;
    font-weight: 800;

}

.footerpara {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;

    font-size: 18px;
    font-style: normal;
    font-weight: 400;

}

.footercopy {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 400;

}

.footer-container {
    padding: 128px 649px 128px 648px;
}

.delivery {
    width: 1440px;
    height: 320px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-left: 200px;
    margin-right: 240px;
    margin-bottom: 128px;




}

.bonus-title {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;

    font-size: 19px;
    font-style: normal;
    font-weight: 600;

}

.delivery-man {
    display: flex;
    justify-content: space-around;
    gap: 130px;
    padding-top: 80px;
}